.definition {
  display: none;
}

.definition1 {
  display: none;
}

.definition2 {
  display: none;
}

.definition3 {
  display: none;
}

.definition4 {
  display: none;
}
.definition5 {
  display: none;
}
.definition6 {
  display: none;
}
.definition7 {
  display: none;
}
.definition8 {
  display: none;
}
.definition9 {
  display: none;
}
.definition10 {
  display: none;
}
.definition11 {
  display: none;
}
.definition12 {
  display: none;
}
.definition13 {
  display: none;
}
.definition14 {
  display: none;
}
.definition15 {
  display: none;
}
.definition16 {
  display: none;
}
.definition17 {
  display: none;
}
.definition18 {
  display: none;
}
